<div class="row">
  <div class="col-lg-5 offset-lg-3">

    <mat-card>
      <h2>Add New Music</h2>
      <form class="example-form" [formGroup]="form" (ngSubmit)="uploadMusicFile()">

        <div class="form-group">
          <label>Title</label>
          <input type="text" class="form-control" placeholder="Title" formControlName="title">
        </div>

        <div class="form-group">
          <label>Description</label>
          <textarea class="form-control" placeholder="Description" formControlName="description"></textarea>
        </div>

        <div class="form-group">
          <label>Author</label>
          <input type="text" class="form-control" placeholder="Author" formControlName="author">
        </div>

        <div class="form-group">
          <label>Music File</label>
          <input type="file" formControlName="file" class="form-control" (change)="fileUpload($event)">
        </div>

        <div class="form-group">
          <label for="rating">Rating</label>
          <input type="number" id="rating" placeholder="Rating" formControlName="rating" class="form-control">
        </div>

        <div class="form-group">
          <label for="language">Language</label>
          <input type="text" id="language" placeholder="Language" formControlName="language" class="form-control">
        </div>

        <div class="form-group mt-2">
          <button [disabled]="form?.invalid" class="btn btn-primary" type="submit">Submit</button>
        </div>
      </form>
    </mat-card>

  </div>
</div>
