<div class="row">
  <div class="col-lg-9">
    <h1 class="mb-2"><b>{{ music?.title }}</b></h1>

    <div class="d-block">
      <span class="d-inline-block text-secondary mr-1">Created By</span> <b class="d-inline-block ml-2">{{ music?.author }}</b>,
      <span class="text-secondary mr-4">Created on</span> <b>{{ music?.created_at | date: 'MM/dd/yyyy' }}</b>
    </div>


    <div class="d-flex justify-content-start align-items-center mt-3">
      <audio controls class="" *ngIf="music?.file">
        <source [src]="baseUrl+music?.file" type="audio/ogg">
        <source [src]="baseUrl+music?.file" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
    </div>

    <p class="mt-2">
      <label class="d-block text-secondary">Description</label>
      {{ music?.description }}
    </p>


    <div class="d-block mt-3">
      <ul class="">
        <li>Language: <b class="font-weight-bold">{{ music?.language }}</b></li>
        <li>Rating: <b>{{ music?.rating }}</b></li>
      </ul>
    </div>

    <div class="d-block mt-5">
      <p>Last Updated on: <b>{{ music?.updated_at | date: 'MM/dd/yyyy' }}</b></p>
    </div>
  </div>

  <div class="col-lg-3">
    <div class="form-group">
      <a mat-stroked-button color="accent" class="mb-3 w-100" routerLink="../../">Back to My Music List</a>
      <a mat-raised-button color="accent" routerLink="/update-music/{{music.id}}" class="w-100 mb-3">Update Music</a>
      <a mat-raised-button color="warn" (click)="confirmation(music.id)" class="w-100">Delete Music</a>
    </div>
  </div>

</div>
